# Ignore directories
data/
sikuli/

# Ignore these files in the settings directory
settings/companion_config.toml
settings/hooks.toml
settings/rules.toml
settings/settings.toml
settings/sm_bringme.toml


# Ignore log files
*.log

# Ignore Python compiled bytecode files
*.pyc
