# Ignore directories
data/
sikuli/

# Ignore these files in the settings directory
settings/companion_config.toml
settings/hooks.toml
settings/settings.toml
settings/rules.toml

# Ignore log files
*.log
log.txt

# Ignore Python compiled bytecode files
*.pyc
