# Ignore directories
data/
sikuli/
.vscode/
settings/

# Ignore log files
*.log
log.txt

# Ignore internal files
environment_variables.py
window_aliases.json
.var_positions.json

# Ignore Python compiled bytecode files
*.pyc

# Ignore pylint config file
.pylintrc

